{% extends "myapp/base.html" %}
{% block title %}
<h1>Status: {{status.status_name}}</h1>
{% endblock %}
{% block content %}
    {% include 'myapp/messages.html' %}
    <div class="container">
    <div class="row">
        <div class="col-sm">
            <h5> Status: {{status.status_name}}</h5>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p>{{status.status_description}}</p>
            </div>
        </div>
        <button type="button" class ="btn btn-warning" href="#">Update</button>
        {% if user.is_superuser %}
        <button type="button" class ="btn btn-danger" href="#">Delete</button>
        {% endif %}
    </div>
</div>
{% endblock %}