{% extends "myapp/base.html" %}
{% block title %}
<h1>Ticket {{ticket.ticket_id}}</h1>
{% endblock %}
{% block content %}
{% include 'myapp/messages.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>{{ticket.ticket_title}}</h2>
        </div>
        <div class="col-sm">
            <h5> Status: <a href="/view_status/{{ticket.status}}">{{ticket.status}}</a></h5>
            <h5> Type: <a href="/view_type/{{ticket.type}}">{{ticket.type}}</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class = "row">
                <div class="col-sm">
                    <a role="button" class ="btn btn-warning" href="../update_ticket/{{ticket.ticket_id}}">Update</a>
                </div>
            </div>
            <div class = "row">
                <div class="col-sm">
                    {% if user.is_superuser %}
                    <a role="button" class ="btn btn-danger" href="../delete_ticket/{{ticket.ticket_id}}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <p>{{ticket.ticket_info}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}