{% extends "myapp/base.html" %}
{% block title %}
    <h1 class="primary">Home Page</h1>
{% endblock %}
{% block content %}
    {% include 'myapp/messages.html' %}

    <div class="containter-fluid">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <h2>Your Assigned Tickets</h2>
                {% if user.is_authenticated%}
                    <table class="table table-striped">
                        
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Ticket Title</th>
                                <th>View Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr scope="row">
                                    <td> {{ticket.ticket_id}} </td>
                                    <td> {{ticket.ticket_title}} </td>
                                    <td> <a href="/view_ticket/{{ticket.ticket_id}}"> Link </a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                
                    {% else %}
                    <p>Please Login to view currently assigned tickets</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}